section {
	position:absolute;
	background-color : white;
	background-size:cover;
	text-align : center;
	width: calc(100% - 225px);
	height:100%;
}

section:after {
	background: hsla(180,0%,50%,0.25);
}
