section {
	padding-top : 15px;
	text-align : center;
}

.frame {
	display : inline-block;
	margin-right : 75px;
	margin-bottom : 75px;
	border : 1px solid #d3d3d3;
	width : 400px;
	outline : none;
	text-decoration : none;
}

.title {
	background-color : #d3d3d3;
	padding-top : 5px;
	padding-bottom : 5px;
	color : black;
	font-weight : bold;
	border-bottom : 1px solid #d3d3d3;
}

.principal {
	width : 400px;
	height : 300px;
	border-bottom : 1px solid #d3d3d3;
}

.img {
	border-right : 1px solid #d3d3d3;
	width : 33%;
	height : 148px;
}

header {
	background-color : white;
	left : 200px;
	position : fixed;
	width : 100%;
	padding-top : 7px;
	padding-bottom : 7px;
	text-align : center;
}

.search {
	height : 30px;
	width : 300px;
	margin-left : -200px;
	border-radius : 10px;
	padding-left : 10px;
	border : 1px solid #909090;
}